@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@plugin 'daisyui' {
  themes: pastel --default;
}

:root {
  --color-base-200: #eff6f0;
  --color-base-300: #dae5dc;
  --color-neutral: black;
  --color-primary: #8bb27a;
  --color-primary-content: black;
  --color-accent: #dff8fd;
  --color-accent-content: #213102;
  --color-info: white;
  --color-info-content: black;
  --color-secondary: var(--color-base-300);
  --color-secondary-content: black;
}

@plugin '@tailwindcss/typography';

.container {
  @apply m-auto px-4 max-w-250;
}

@layer base {
  * {
    --input-color: var(--color-base-300) !important; /* default color */
  }

  *::after {
    --divider-color: var(--color-base-300) !important;
  }

  .input-error {
    --input-color: var(--color-error) !important; /* default color */
  }
}

@utility hide {
  @apply absolute opacity-0 -top-99999 -left-999;
}

@utility show {
  @apply relative opacity-100 top-0 left-0;
}

@utility mont {
  font-family: 'Montserrat';
}

.input {
  @apply rounded-2xl;
}

/* section {
  @apply py-10;
} */

h1 {
  @apply text-3xl lg:text-7xl font-black;
  font-family: 'Montserrat';
}

h2 {
  @apply text-3xl font-black;
  font-family: 'Montserrat';
}

table.wrapper {
  @apply overflow-x-auto rounded-2xl rounded-box border border-base-content bg-base-100;
}

table.table {
  @apply bg-base-100;
}
tbody:not(:first-child) {
  @apply !border-t-2 !border-gray-100 border-solid;
}

.add-table-row-button {
  @apply btn bg-base-100 rounded-2xl border-base-content w-full h-full text-4xl py-5 border-none;
}

.skeleton {
  @apply bg-base-100;
  background-image: linear-gradient(
    105deg,
    #d3171700 0% 40%,
    var(--color-base-200) 50%,
    #0000 60% 100%
  );
}

/* .hide {
  @apply absolute opacity-0 -z-999 -top-99999 -left-999;
} */

button {
  @apply shadow-none;
  font-family: 'Montserrat';
}
